/*p {*/
/*    font-size: 18px;*/

:root {
    --background-color: #8B5CF6;
    --search-box: #C4B5FD;
    --search-icon: #C4B5FD;
}

/*}*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--search-box);
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
}

.card {
    background: var(--background-color);
    padding: 1.8em;
    border-radius: 32px;
    color: white;
    margin: 2vh;
    width: 100%;
    max-width: 425px;
    margin: 2em;
}
button:hover {
	background: var(--search-icon);
}

button {
    /* border-radius: -71px; */
    border: none;
    border-radius: 50%;
    /* margin: 0em; */
    margin: 0.5em;
    height: 46px;
    color: white;
    width: 46px;
    background: var(--background-color);
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
input.search-box {
	border-radius: 24px;
	border: none;
	color: black;
	font-family: inherit;
	font-size: 120%;
	background: var(--search-box);
	outline-color: var(--background-color);
	padding: 0.5em 1em;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.3em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 10px;
}

/* .weather.loading {
    visibility: hidden;
    position: relative;
    max-height: 20px;
} */

.weather.loading:after {
    visibility: visible;
    top: 0;
    content: "Loading...";
    color: white;
    position: absolute;
}

